<%- include("./partials/header") %>
    <%- include("./partials/navbar") %>

        <div class="container mt-5">
            <h3>All Blogs </h3>

            <% blogs.reverse() %>
            <% blogs.forEach(blog=>{ %>

                <div class="card mt-3 py-3">
                    <div class="card-body">
                        <p class="text-muted">Published at : <%= blog.postedAt %></p>
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.content.slice(0,99) %>... <a href="/blog/<%= blog._id %>">read more</a></p>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read more...</a>
                        <a href="/delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                        <a href="/edit/<%= blog._id %>" class="btn btn-warning">Edit</a>
                    </div>
                </div>

                <% }) %>

        </div>

        <%- include("./partials/footer") %>